<html style="height: 100%;">
    <body style="height: 100%;">
      <section class="intro-wrapper">
        <div class="section sectOne">
          <div class="mainSect">
            <h1>Kuout?</h1>
            <h4>It's a place where people can share positivity and exchange thoughts.</h4>
          </div>
        </div>
        <div class="section sectTwo">
          <div class="mainSect">
            <h1>Share</h1>
            <h4>Write a kuout, choose a background and share it!</h4>
          </div>
        </div>
        <div class="section sectThree">
          <div class="mainSect">
            <h1>(Coming Soon) <br>Get to the top</h1>
            <h4>Vote and get voted.<br>
             Most voted kuout's will be on the top of the month for everyone to see.
            </h4>
            </div>
        </div>
          <div class="section sectFour">
            <div class="mainSect">
              <h1>Enjoy!</h1>
            </div>
          </div>
        </section>
      </body>
        <% include ../partials/footer %>
</html>
