<!DOCTYPE html>
<html>
  <body>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="hero">
        <hgroup>
          <h1>Welcome</h1>
          <p>...to the inspiration sharing app of the <br>XII Century</p>
        </hgroup>
      </div>
      <div class="overlay"></div>
        <img src="./public/img/bg-imgs/bg3.jpg" class="carousel-img">
    </div>
    <div class="item">
      <div class="hero">
        <hgroup>
          <h1>Get Inspired</h1>
          <p>Read what inspire people around you</p>
        </hgroup>
      </div>
      <div class="overlay"></div>
      <img src="./public/img/bg-imgs/bg6.jpg" class="carousel-img">
    </div>
    <div class="item">
      <div class="hero">
        <hgroup>
          <h1>Inspire Others</h1>
          <p>Write and share your favorite kuout's</p>
        </hgroup>
      </div>
      <div class="overlay"></div>
      <img src="./public/img/bg-imgs/bg8.jpg" class="carousel-img">
    </div>
    <!-- <div class="item">
      <div class="hero">
        <hgroup>
          <h1>Vote!</h1>
          <p>Vote, get voted and be in the top</p>
        </hgroup>
      </div>
      <div class="overlay"></div>
      <img src="./public/img/bg-imgs/bg4.jpg" class="carousel-img">
    </div> -->
    <div class="item">
      <div class="hero">
        <hgroup>
          <a href="./feed">Start Now</a>
          <p>Its free!</p>
        </hgroup>
      </div>
      <div class="overlay"></div>
      <img src="./public/img/bg-imgs/bg2.jpg" class="carousel-img">
    </div>
  </div>

  <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="sr-only">Next</span>
      </a>
     <script type="text/javascript" src="../public/js/carousel.js"></script>
    </div>
  </body>
</html>
