<footer class="footer">
  <div class="container" style="max-width: 925px;">
    <nav class=".col-xs-6" role="navigation" style="max-width: 100%;">
      <ul>
        <li><a href="./about">About</a></li>
        <li id="kuout-copyright">© 2016 kuout</li>
      </ul>
    </nav>
  </div>
</footer>
