<nav class="navbar navbar-default navbar-fixed-top">
  <div class="nav-wrap">
    <div class="logo">
      <ul class="logo-wrap">
        <li>
          <a href="/"><img src="./public/img/logo/k-logo-b.png"></a>
        </li>
        <li> | Kuout</li>
      </ul>
        <div class="btn-right">
          <ul>
            <li class="read-btn">
              <a href="./read"><img src="./public/img/logo/k-book-logo.png" style="height: 25px;"></a>
            </li>
              <!-- <% include ../partials/post-modal %> -->
          </ul>
        </div>
    </div>
  </div>
</nav>
