<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/"><img src="./public/img/logo/k-logo-bb.png"></a>
        </div>

      <ul class="nav navbar-nav navbar-right" id="b-header-btn">
        <li><a href="./feed">Kuout!</a></li>
      </ul>
    </div>
  </div>
</nav>
