<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/links %>
    <title>About</title>
  </head>
  <body>
    <% include ../partials/header-b %>
    <div class="about-main">
        <div class="about-content">
          <h1>About</h1>
          <h3>Leonardo Andres Calderon</h3>
          <p><strong>Leonardo Calderon</strong> is the founder of Kuout, a place where people can share
          quotes and exchange thoughts. Kuout was mainly created as a school project. For more info. or any issues feel free to send me a <a href="mailto:leonardo.andres_98@hotmail.com">email</a>.
          Enjoy.</p>
          </div>
        </div>
      </div>
    <% include ../partials/footer %>
  </body>
</html>
