<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <% include ../partials/links %>
    <title>Kuoute</title>
  </head>
  <body>
    <% include ../partials/header2 %>

    <% include ../partials/post-modal %>

    <% include ../partials/post-feed %>
    </body>
</html>
