<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/links %>
    <title>Read</title>
  </head>
  <body>
    <% include ../partials/header-b %>
    <div style="font-size:250px;text-align:center;font-family:Amatic SC;margin:100px;">Coming Soon!</div>
  </body>
</html>
